footer.container{
  background-color: $darkgray;
  width: 100%;
  color: white;
  padding:0;


  .region-footer{
    @include wide;
    display: flex;
    justify-content:space-evenly;
    align-items: flex-start;
    .block, nav{

    }
    h2.block-title{
      text-align: left;
      color: #CCC;
      font-weight: lighter;
      margin-bottom: 30px;
      margin-top: 30px;
      padding-top: 0;
    }
    #block-contacts{
      width: 30vw;
      p {
        display: inline-block;
        padding-right: 40px;
        line-height: 20px;
      }
    }
    #block-rebase-footer{
      background-color: $darkest;
      padding: 0 60px;
      height: 100%;

      h2{
        margin: 30px 0;
      }
      .nav.footer{
      padding: 0;
      margin-top: 0;
      border: 0;
        li{
          a{
            padding: 0;
            color: white;
            line-height: 20px;
          }
        }
      }
      .block-title{
        color: $normal;
      }
    }
    .social{
      ul.menu {
        display: flex;
        margin-bottom: 40px;

        li{
          width:40px;
          height:40px;
          margin-right:15px;
          overflow:hidden;
          &:nth-child(1){
            background: url(/themes/rebase/images/social.png) no-repeat -124px -72px;
            background-size: auto 110px;
            &:hover{
            background: url(/themes/rebase/images/social.png) no-repeat -124px 2px;
            background-size: auto 110px;
            }
          }
          &:nth-child(2){
            background: url(/themes/rebase/images/social.png) no-repeat 0 -72px;
            background-size: auto 110px;
            &:hover{
            background: url(/themes/rebase/images/social.png) no-repeat 0 2px;
            background-size: auto 110px;
            }
          }
          &:nth-child(3){
            background: url(/themes/rebase/images/social.png) no-repeat -246px -70px;
            background-size: auto 110px;
            &:hover{
            background: url(/themes/rebase/images/social.png) no-repeat -246px 4px;
            background-size: auto 110px;
            }
          }
          a{padding: 40px;}
        }
      }
    }
  }// End region footer
} // End footer container
