//** Footer style:

// Mobile first.
footer.container{
  background-color: $darkgray;
  width: 100%;
  color: white;
  padding:0;
  .region-footer{
    @include wide;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: stretch;
    h2.block-title, h2#block-rebase-footer-menu{
      @include texttitle;
      color: $grayBackground;
      margin: 30px 0;
    }
    // Contacts.
    #block-contacts{
      flex-basis: 100%;
      padding: 0 25px 15px 25px;
      h2.block-title{
        color: $graytext;
      }
      p {
        @include textsmall;
        display: inline-block;
        padding-right: 40px;
        line-height: 20px;
        color: white;
      }
    }
    // Partners.
    #block-partnersfunding{
      flex-basis: 100%;
      padding: 0 25px 15px 25px;
      background-color: $grayBackground;
      h2.block-title{
        color: $darkest;
      }
    }
    // Stay in touch.
    #block-rebase-footer{
      flex-basis: 100%;
      background-color: $darkest;
      padding: 0 25px 100px 25px;
      h2#block-rebase-footer-menu{
        color: $dark;
      }
      // Social media icons.
      ul.menu {
        display: flex;
        li{
          width: 40px;
          height: 40px;
          margin-right: 15px;
          overflow: hidden;
          a{
            padding: 0;
            font-size: 0;
            line-height: 40px;
            display: inline-block;
            width: 100%;
            height: 100%;
          }
          &:nth-child(1){
            background: url(/themes/rebase/images/social.png) no-repeat -124px -72px;
            background-size: auto 110px;
            &:hover{
            background: url(/themes/rebase/images/social.png) no-repeat -124px 2px;
            background-size: auto 110px;
            }
          }
          &:nth-child(2){
            background: url(/themes/rebase/images/social.png) no-repeat 0 -72px;
            background-size: auto 110px;
            &:hover{
            background: url(/themes/rebase/images/social.png) no-repeat 0 2px;
            background-size: auto 110px;
            }
          }
          &:nth-child(3){
            background: url(/themes/rebase/images/social.png) no-repeat -246px -70px;
            background-size: auto 110px;
            &:hover{
            background: url(/themes/rebase/images/social.png) no-repeat -246px 4px;
            background-size: auto 110px;
            }
          }
        }
      }
    }
  }
}

// Media query > 992, for sm, md and lg devices.
@media screen and (min-width: 768px){
  footer.container .region-footer{
    #block-contacts,
    #block-partnersfunding,
    #block-rebase-footer{
      flex-basis: 33.333%;
      padding: 0 25px 85px 25px;
    }
  }
}

