//** Global styles:

// Global font
body{font-family: $font}

// Generic structure.
html{
	height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: $darkgray;
  margin-top: 0;
  border: none;
  border-radius: 0;
  position: relative;
  padding: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  font-weight: 300;
  font-family: $font;
  width: 100%;
  overflow-x: hidden;
  .main-container {
    width: 100%;
    section .region-content .layout{
      @include wide;
      margin: 30px auto;
      .layout__region{
        margin: 0 auto;
        padding: 0 15px;
      }
      h2.block-title{
        text-align: center;
        color: $darkest;
        margin: 25px 0;
      }
    }
  }
  .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
  }
  #block-bannerhomepage .top-banner{
    align-items: start;
  }
}

// Text styles.
h1{
}
h2{
  @include texttitle;
}
h3{
  @include textsubtitle;
}
h4{
}
p{
  @include textlarge;
}
a, li a{
  text-decoration: none;
  color: $links;
  &:hover{
    text-decoration: none;
    color: $linksOver;
  }
  &:visited{
    color: $links;
  }
}

// Fields, inputs, select areas, etc.
select{
  appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  border-radius: 0;
}

// Alert.
.alert {
  position: fixed;
  top: 30vh;
  left: 40vw;
  @include shadow;
  padding: 30px 45px;
}

// Admin bar.
#toolbar-administration a{
  color:gray;
}

// Tabs.
.nav-tabs {
  position: fixed;
  bottom: 5%;
  right: 5%;
  border: 1px solid lightgray;
  padding: 20px;
  border-radius: 10px;
  background: white;
  z-index: 100;
  @include shadow;
  li.active a, li.active a:hover,
  li.active>a:focus{
    border:0;
  }
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.nav>li>a:hover, .nav>li>a:focus{
 background-color: initial;
 color: $light;
}

// Private area.
body.path-restricted-area{
  div#edit-field-folder-target-id{
     .form-group {
      padding:10px;
      margin:5px;
      background-color:$light;
      border-radius:2px;
      a{color: $darkest;}
      &.bef-link-active{
        background-color: $dark;
        a{color: white;}
      }
      &:first-child{
        display: none;
      }
    }
  }
}

// Media query > 992, for sm, md and lg devices.
@media screen and (min-width: 768px){
  body {

  }
}
