//** Header style:

#navbar{
  background-color: white;
  border-radius:0;
  margin: 0;
  padding: 0;
  border-top: 0;
  position: relative;
  @include fullwidth;
  z-index: 2;
  #navbar-in{
    @include wide;
    padding: 0;
    position: relative;
    // Logo and login/out area.
    .navbar-header{
      width: 100%;
      .region-navigation {
        background-color: $darkest;
        min-height: 60px;
        width: 100%;
        display: flex;
        align-items: left;
        .logo{
          margin: 0 ;
          height: 100%;
          min-height: 60px;
          padding: 10px 15px;
          border-right: 10px solid white;
          width: 80px;
          background: url("../images/logo_small.svg") no-repeat center center;
          img{
            display: none;
          }
        }
        // Login/out & Avatar.
        #block-useraccountmenu, 
        #block-rebase-views-block-user-block-avatar{
          position: absolute;
          top: 0;
          .view-display-id-block_avatar{
            overflow: hidden;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            margin: 10px;
            padding: 0;
            .views-field-user-picture{
              margin: 0;
            }
            img{
              width: 40px;
              height: auto;
            }
            a.profile {
              text-transform: uppercase;
              font-size: 16px;
            }
          }
        }
        #block-useraccountmenu{
          width: 50px;
          margin: 0;
          right: 50px;
          .navbar-nav {
              margin: 3px -15px;
          }
          a{
            display: inline-block;
            width: 100%;
            max-width: 50px;
            height: 100%;
            padding: 10px;
            font-size: 0;
            height: 53px;
            background: url("../images/login-icon.svg") no-repeat center center;
            background-size: 20px;
          }
        }
        #block-rebase-views-block-user-block-avatar{
          width: 60px;
          margin: 0;
          right: 45px;
          padding: 0;
        }
      }
      // Burger menu icon.
      button.navbar-toggle{
        position: absolute;
        top: 0;
        right: 0;
        height: 60px;
        border: none;
        margin: 0;
        padding: 0 15px;
        .icon-bar{
          background-color: white;
          width: 30px;
          height: 2px;
          + .icon-bar{
            margin-top: 5px;
          }
        }
        &:hover, &:focus{
          background: none;
        }
      }
    }
    // Menu and language selector.
    .navbar-collapse{
      #block-rebase-main-menu{
        ul.menu--main{
          li a{
            @include textnormal;
            text-transform: uppercase;
            color: $links;
            &:hover{
              color: $linksOver;
            }
          }
          li.active > a{
            background: none;
            color: $graytext;
          }
          ul.dropdown-menu{
            border: none;
            border-radius: 0;
            margin: 0;
            padding: 0;
            li.active{

            }
          }
        }
      }
      #block-languageswitcher{
        float: none;
        width: 100%;
        margin: 25px 0 10px;
        border-left: none;
        ul.links{
          list-style: none;
          margin: 0;
          padding: 0;
          li{
            display: inline-block;
            float: left;
            padding: 0px;
            margin-right: 10px;
            a{
              font-weight: 300;
              text-transform: none;
              text-decoration: none;
              padding: 5px;
              color: $dark;
            }
            a.is-active{
              font-weight: 400;
              background-color: $dark;
              color: white;
            }
          }
        }
      }
    }
  }
}

// When logged-in, hide login button.
body.user-logged-in{
  #navbar #navbar-in .navbar-header .region-navigation #block-useraccountmenu{
    right: 90px;
    a{
      width: 25px;
      height: 25px;
      margin: 15px 10px;
      border-radius: 15px;
      overflow: hidden;
      background: url("../images/logout-icon.svg") no-repeat center center;
      background-color: $darkest;
      background-size: 14px;
    }
  }
}

// Media query > 992, for sm, md and lg devices.
@media screen and (min-width: 768px){
  body {
    margin-top: 0;
    #navbar #navbar-in{
      display: flex;
      .navbar-header{
        width: 25%;
        .region-navigation {
          min-height: 90px;
          align-items: center;
          .logo{
            margin: 0 auto;
            padding: 10px;
            background: none;
            width: auto;
            border: none;
            img{
              display: block;
              width: 160px;
            }
          }
          #block-useraccountmenu, 
          #block-rebase-views-block-user-block-avatar{
            .view-display-id-block_avatar{
              margin: 25px 10px;
            }
          }
          #block-useraccountmenu{
            a{
              width: 40px;
              height: 40px;
              border-radius: 20px;
              margin: 22px 10px;
              background-size: 20px;
              background-color: $darkest;
            }
          }
        }
      }   
      .navbar-collapse{
        width: 66.666%;
        .region-navigation-collapsible{
          display: flex;
          align-items: center;
          height: 100%;
        }
        #block-rebase-main-menu{
          width: auto;
          li a{
            @include textnormal;
            color: $links;
            padding: 5px 15px;
            &:hover{
              color: $linksOver;
            }
          }    
        }
        #block-languageswitcher{
          width: auto;
          margin: 0;
          padding-right: 15px;
          margin-right: 15px;
          border-right: 1px solid $graytext;
          ul.links{
            padding: 0;
            li{
              margin-right: 0;
              a{
                @include textnormal;
                color: $links;
                padding: 10px;
                color: $graytext;
              }
              a.is-active{
                font-weight: 700;
                background: none;
                color: $graytext;
              }
            }
          }
        }
      } 
    }
  }
  body.user-logged-in{
    #navbar #navbar-in .navbar-header .region-navigation #block-useraccountmenu{
      a{
        margin: 30px 10px;
      }
    }
  }
}