//** Style Mixins:

// Structure mixins.
@mixin wide{
  width: 100%;
  max-width: 1170px;
  margin: 0px auto;
  float: none;
}
@mixin fullwidth{
  width: 100%;
  max-width: none;
}
@mixin shadow{
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3333);
}

// Text styles mixins.

// Title.
@mixin texttitle{ // h2
  font: 300 30px/36px 'Titillium Web', sans-serif;
  color: $darkest;
}
// Subtitle.
@mixin textsubtitle{ // h3
  font: 300 26px/32px 'Titillium Web', sans-serif;
  color: $dark;
}
// Large text.
@mixin textlarge{ 
  font: 300 18px/24px 'Titillium Web', sans-serif;
  color: $graytext;
}
// Normal text.
@mixin textnormal{
  font: 400 14px/20px 'Titillium Web', sans-serif;
  color: $graytext;
}
// Small text.
@mixin textsmall{
  font: 400 12px/16px 'Titillium Web', sans-serif;
  color: $graytext;
}
@mixin readmore{
  @include textsmall;
  text-transform: uppercase;
  color: $dark;
  &:hover{
    color: $darkest;
  }
}

// Other mixins.
@mixin label{
  color: lightgray;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
}

@mixin smallprofilepic{
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 25px;
  overflow: hidden;
  background-color: $grayBackground;
  border: 1px solid white; 
  transition: all 0.3s;
  box-sizing: border-box;
  &:hover{
    border: 1px solid $dark; 
    transition: all 0.3s;
  }
}

@mixin largeprofilepic{
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50px;
  overflow: hidden;
  background-color: $grayBackground;
  border: 1px solid white; 
  transition: all 0.3s;
  box-sizing: border-box;
  &:hover{
    border: 1px solid $dark; 
    transition: all 0.3s;
  }
}
