//** Users content styles:

// Mobile first.
body.path-user{
  // User pages.
  #navbar{
    border-bottom: 1px solid $grayBackground;
  }
  .dialog-off-canvas-main-canvas .user-forms, 
  .dialog-off-canvas-main-canvas .links, 
  .dialog-off-canvas-main-canvas .user-form,
  .contact-message-personal-form{
    width: 100%;
    padding: 15px;
    #edit-submit {
      width: 100%;
      overflow: hidden;
      height: 50px;
      margin-top: 16px;
      background-color: $darkest;
      border: 0;
      text-transform: uppercase;
    }
  }
  // Login page.
  .dialog-off-canvas-main-canvas .user-forms{
    margin: 60px auto 0 auto;
    .logo.user-register-form {
      overflow: auto;
      img{
        background-color: $darkest;
        padding: 30px;
      }
    }
    .user-login-form{
      padding: 60px 0 30px 0;
    } 
  }
  .dialog-off-canvas-main-canvas .links{
    margin: 0 auto 60px auto;
  }
  // Edit profile page.
  .dialog-off-canvas-main-canvas .main-container .user-form{
    margin: 60px auto;
    .chosen-container-single{
      width: 100% !important;
      a.chosen-single{
        border: none;
        background: none;
        box-shadow: none;
        height: 30px;
        width: 100%;
        padding: 0;
        div b{
          display: none;
        }
      }
      .chosen-drop{
        text-align: left;
        left: 0;
      }
    }
    .field--name-field-bio{
      padding: 0;
      text-align: left;
    }
  } 
  // Contact user page.
  .contact-message-personal-form{
    margin: 60px auto;
    #edit-preview{
      display: none;
    }
  }
}

// Media query > 768, for sm, md and lg devices.
@media screen and (min-width: 768px){
  body.path-user{
    .dialog-off-canvas-main-canvas .user-forms, 
    .dialog-off-canvas-main-canvas .links, 
    .dialog-off-canvas-main-canvas .user-form,
    .contact-message-personal-form{
      width: 50%;
      overflow: hidden;
    }
  }
}

