<h1>Import from OAI.</h1>
<form action="/admin/import" method="POST">
  <label for="oai-url">OAI URL</label>
  <input type="text" id="oai-url" name="oai_url" value="" maxlength="255">
  <br><br><br>
  <input type="submit" value="Import">
</form>